body {
	background-color:#F2F2F2;
	font-family:Verdana;
}

#header {
	position: relative;
	top: -10px;
	background-color:#3486E3;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	height: 50px;
    width: auto;
    box-shadow: 5px 0px 5px #5BA3F5;
    margin:0 auto;
}

#header h1 {
	text-align:center;
	color:#FCFCFC;
	font-family:Verdana;
	padding: 10px 10px 0px 10px;
}

#headerPics img {
	text-align:center;
	border-radius: 10px;
	border:1px solid #3486E3;
}

#wrapper {
	border:1px solid #3486E3;
	position: relative;
	top: -10px;
	box-shadow: 5px 0px 5px #5BA3F5;
	font-size:1em;
	text-align:center;
	font-family:Verdana, Arial, Sans-Serif;
    width: auto;
    margin:0 auto;
    padding:10px 10px 10px 10px;
}

#footer {
    border:1px solid #3486E3;
	position: relative;
	top: -10px;
	box-shadow: 5px 5px 5px #5BA3F5;
	font-size:1em;
	text-align:center;
	font-family:Verdana, Arial, Sans-Serif;
    width: auto;
    margin:0 auto;
    padding:10px 10px 10px 10px;
}

#userInfo {
    width: auto;
    display:inline-block;
    border: 1px solid #3486E3;
}


#userForms {
	width: auto;
	text-align:center;
	font-family:Verdana;
    display: inline-block;
    font-size:0.8em;
}

/*
#userForms input {
	display: inline-block;
	float:center;
	width:auto;
	font-family:Verdana;
    font-size:0.8em;
}

#userForms label {
	display: inline-block;
	float:center;
	width:auto;
	font-family:Verdana;
    font-size:0.8em;
}
*/

#submitButton {
	color:#3486E3;
}


